{% extends 'SuperAdmin/SuperAdminNavbar.html' %}

{% load static %}

{% block content %}
<br>

  <p>

      <a href="{% url 'district_create' %}" type="button" style="float:right;" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"></span>
      New District
      </a>

  </p>
<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Button Example <small>Users</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <table class="table" id="datatable-buttons"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>S. No.</th>
                                    <th>District Name</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for district in district %}
                                      <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ district.district}}</td>
                                        <td style="width: 100px">
                                            <a href="{% url 'district_update' district.pk %}" class="btn btn-success"> Update </a>
                                        </td>
                                        <td style="width: 100px">
                                            <a href="{% url 'district_delete' district.pk %}" class="btn btn-danger"> Delete </a>
                                        </td>
                                      </tr>
                                    {% empty %}
                                      <tr>
                                        <td colspan="8" class="text-center bg-warning">No district</td>
                                      </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}