{% extends 'SuperAdmin/SuperAdminNavbar.html' %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}
{% block javascript %}
  <script src="{% static 'SuperAdmin/GovtEmployee/employee.js' %}"></script>
{% endblock javascript%}

{% block content %}
<br>


 <p>
     <a href="{% url 'uno_create' %}" type="button" style="float:right;" class="btn btn-primary">
         <span class="glyphicon glyphicon-plus"></span>
            New Uno
     </a>

  </p>


<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Button Example <small>Users</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <table class="table" id="datatable-buttons"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>S. No.</th>
                                    <th>UserName</th>
                                    <th>District</th>
                                    <th>Police Station</th>
                                    <th>Email</th>
                                    <th>Ministry Name</th>
                                    <th>Is Uno</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                    {% include 'SuperAdmin/Uno/partial_uno_list.html' %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}