{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="modal-header">
     <h4 class="modal-title">Create a Complaint For {{ complaint.ministry_name }}</h4>

  </div>
  <div class="modal-body">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Create Complaint</button>
  </div>
</form>
{% endblock content %}