{% load static %}

    <ul>
          <li class="active"><a href="{% url 'index' %}">Home</a></li>
          <li class="drop-down"><a href="">Complaint</a>

                <ul>
                    {% for ministry in ministry %}
                      <li><a href="#">{{ ministry.ministry_name }}</a></li>
                    {% endfor %}
                </ul>

          </li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Team</a></li>

          {% if user.is_authenticated %}
            <li><a href="{% url 'log_out'%}">Log out</a></li>
          {% else %}
            <li><a href="{% url 'sign_up' %}">Create Account</a></li>
            <li><a href="{% url 'log_in' %}">Login</a></li>
          {% endif %}
    </ul>
