{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- style="background-image: url({% static 'assets/img/aaa.jpg' %});"-->
<div id='bg'>


    <img src="{% static 'assets/img/aaa.jpg' %}">
<br>
    <br>
    <p>

        •	এই সময়ে, আমরা দেখতে পাচ্ছি যে অনেক মেয়েই ইফটিজিং বা যৌন হয়রানিতে ভুগছে। আমাদের স্থানীয় রাস্তায় অনেক অপরাধী ছেলে দ্বারা অনেক মেয়েকে হয়রানি করা হয়। বিশেষত বেশিরভাগ সময় স্কুল বা কলেজের ছাত্রীরা এই সমস্যার মুখোমুখি হন। <br> <br>

•	আমাদের দেশে বহু মানুষ বাংলাদেশের রাস্তায় ছিনতাইয়ের শিকার হচ্ছে এবং এখন দিন দিন এটি বাড়ছে কিন্তু কোনও পদক্ষেপ নিতে পারে না। <br> <br>

•	আমরা দেখতে পাই বাংলাদেশের অনেক রাস্তা ভেঙে গেছে। এর মধ্যে অনেকগুলি ডাস্টবিন সমস্যা রয়েছে । <br> <br>

•	বাংলাদেশ। বাংলাদেশের মানুষ সর্বত্র ময়লা ফেলে। আমরা যদি তাদের কাছ থেকে তহবিল গ্রহণ করি তবে তারা সচেতন হবে তবে এখানেও আমরা কোনও পদক্ষেপ নিই না। <br> <br>

•	এবং আমরা সকলেই জানি যে Dhakaাকা শহরে বেশি ট্র্যাফিক সমস্যা রয়েছে। অনেক ট্র্যাফিক পুলিশ রয়েছে তারা সঠিকভাবে কাজ করে না। <br> <br>

•	আমরা জানি যে গ্রামের অনেক দরিদ্র পরিবার এখনও যৌতুক ব্যবস্থার মুখোমুখি। তবে আমরা কোনও অভিযোগ করতে পারি না। <br> <br> <br>

<h3 class="text-info"> সুতরাং, এই সাইটটির মাধ্যমে আপনি বা আমরা সহজেই এই বিষয়গুলি সম্পর্কে মন্ত্রীর কাছে অভিযোগ করতে পারেন এবং তারা এই সমস্যাগুলি দ্রুত সমাধান করা শুরু করবেন। </h3>


    </p>
</div>
<style>
    #bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
</style>

{% endblock content %}